$btn-color: #9b5094;
$btn-hover-color: #9b6095;

.detail {
  padding-top: 100px;
  font: 400 16px/1.5 "Roboto", sans-serif;
  color: rgba(0, 0, 0, .87);
}

.photo {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body {
  position: relative;
}

.info {
  position: relative;
  top: -100vh;
  width: 60vw;
  margin: 20vh 30vw -80vh 10vw;
  background-color: #fff;
  border-radius: 0 10px 10px;
  padding: 16px;
}

.card {
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 6px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.name {
  font-size: 2em;
  font-weight: 700;
  margin-top: 0;
  letter-spacing: 1px;
}

.apply {
  display: flex;
  align-items: center;
}

.date {
  flex: 1;
}

.apply,
.share {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, .12);
  padding-top: 20px;
}

.join-btn,
.apply-btn,
.save-btn {
  border-radius: 6px;
  border: 1px solid $btn-color;
  padding: 16px 32px;
  transition: all .15s cubic-bezier(.4, 0, .2, 1);

  &:active:focus,
  &:active,
  &:focus,
  &:hover {
    background-color: $btn-hover-color;
    color: #fff;
  }
}

.join-btn,
.apply-btn {
  margin-left: 16px;
  background-color: $btn-color;
  color: #fff;
  letter-spacing: .07px;
}

.save-btn {
  color: $btn-color;
  margin-left: 16px;

  &[disabled] {
    &:hover,
    &:active,
    &:focus {
      color: $btn-color;
      border-color: $btn-color;
      background: #fff;
    }
  }
}

.company,
.address {
  font-size: 2em;
}

.company {
  margin-top: 0;
  font-weight: 700;
  text-transform: capitalize;
}

.address {
  color: rgba(0, 0, 0, .54);
}

.keyword {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #eee;
  color: rgba(0, 0, 0, .38);
  margin: 8px;
  font-size: .8em;
  display: inline-block;
  transition: all .15s cubic-bezier(.4, 0, .2, 1);

  &,
  &:hover,
  &:active,
  &:focus,
  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    color: rgba(0, 0, 0, .54);
    background-color: darken(#eee, 3%);
  }
}

.subheading {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: .015em;
  margin-top: 0;
  margin-bottom: 20px;
}

.list {
  padding-left: 24px;
}

.list-item {
  color: $btn-color;
}

.list-text {
  color: rgba(0, 0, 0, .54);
}

.sidenav {
  position: absolute;
  top: 110vh;
  right: 10vw;
  list-style: none;
}

.sidenav-item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.sidenav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8em;
  color: rgba(0, 0, 0, .54);
  text-decoration: none;
  transition: color .15s cubic-bezier(.4, 0, .2, 1);

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $btn-color;
  }
}

.sidenav-link--active {
  &,
  &:active,
  &:focus,
  &:link,
  &:visited,
  &:hover {
    color: $btn-color;
  }
}

@media (max-width: 991px) {
  .info {
    top: 0;
    margin: 0;
    width: 100%;
  }

  .apply {
    flex-direction: column;
    align-items: flex-start;
  }

  .join-btn,
  .save-btn,
  .apply-btn {
    margin: 16px 16px 0 0;
  }

  .sidenav {
    display: none;
  }

  .photo {
    height: 60vh;
  }
}
