.applied-jobs {
  padding-top: 20px;
  padding-bottom: 50px;
  font: 400 16px/1.5 "Roboto", sans-serif;
  color: rgba(0, 0, 0, .87);
  background-color: #f4f4f6;
}

.applied-title {
  padding-top: 120px;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, .87);
  background-color: #f4f4f6;
  text-align: center;
  font-size: 24px;
}
.empty-message {
  text-align: center;
}
