.more-button {
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #ccafed;
    font-size: 14px;
    line-height: 32px;
    color: black;
    margin-top: 8px;
}

.support-email {
	line-height: 32px;
	padding-left: 4px;
    width: 340px;
    color: black;
}

.support-details {
    line-height: 32px;
    padding-left: 4px;
    width: 340px;
    height: 200px;
    color: black;
}

@media(max-width: 776px){
    .support-details {
        height: 130px;
    }

    .support-email, .support-details {
        width: 250px;
    }
}