.saved-jobs {
  padding-top: 120px;
  padding-bottom: 50px;
  font: 400 16px/1.5 "Roboto", sans-serif;
  color: rgba(0, 0, 0, .87);
  background-color: #f4f4f6;
}

.empty-message {
  text-align: center;
}
