.job-application {
	margin: 15vh 10px 10vh 10px;
}

.all-job {
    margin: 20px 18vw 20px 18vw;
    width: 64vw;
    border: 1px solid rgba(155,80,148,0.5);
    background-color: #F4F4F6;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
}

.all-job-title {
	font-size: 18px;
}

.job-check-mark {
	color: #00ff00;
}

.job-title {
	padding: 10px;
}