.example {
  color: darken(green, 10%);
}

*{
	margin-left: 4px;
}

.inputBox {
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  transition: transform .15s cubic-bezier(0, 0, 0, 1);
  width: 250px;

  &:hover {
    transform: scale(1.02);
  }
}

.inputSub {
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  transition: transform .15s cubic-bezier(0, 0, 0, 1);
  margin-left: 12px;
  width: 250px;

  &:hover {
    transform: scale(1.02);
  }
}

.submit {
	width: 250px;
	border-radius: 8px;
}
