.job_details {
	position: relative;
	display: inline-block;
	width: 300px;
	height: 200px;
	overflow: hidden;
	border: 2px solid black;
	margin: 5px;
}

.jobs {
	width: 950px;
	display: inline-block;
}

a {
	text-decoration:none;
}