.How-split {
	padding-top: 15vh;
}

.how-line {
	padding: 15px;
}

.how-detail {
	padding: 10px;
}

.how-title {
	margin: 10vh 15vw;
	width: 70vw;
	display: inline-block;
}

.how-background {
	display: inline-block;
	margin: 10px 40vw 20px 40vw;
}